
 <nb-layout>
   <nb-layout-header>
      <backoffice-header></backoffice-header>
   </nb-layout-header>

   <nb-sidebar  class="menu-sidebar"
               tag="menu-sidebar"
               responsive
               [end]="false">
       <nb-sidebar-header>

       </nb-sidebar-header>
       <nb-layout-column>
           <nb-menu [items]="menu"></nb-menu>
       </nb-layout-column>

   </nb-sidebar>

     <nb-layout-column class="main-content">


         <router-outlet></router-outlet>
         <ng-content select="router-outlet"></ng-content>
     </nb-layout-column>

     <nb-layout-footer fixed>
         <backoffice-footer></backoffice-footer>
     </nb-layout-footer>


 </nb-layout>

